{% extends "core/base.html" %}

{% block title %}Acerca de nuestro CRM{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
  <h1 class="text-4xl font-bold mb-8 text-center">Acerca de nuestro CRM</h1>
  <div class="max-w-2xl mx-auto mb-8">
    <p class="text-lg text-gray-700 text-center">Bienvenido a nuestro CRM, una poderosa herramienta para gestionar tus relaciones con los clientes. Nuestro objetivo es ayudarte a mejorar la eficiencia de tu negocio y fortalecer tus conexiones con los clientes.</p>
  </div>

  <div class="flex flex-col md:flex-row justify-center items-center mb-8">
    <div class="max-w-md md:mr-4 mb-4 md:mb-0">
      <h2 class="text-2xl font-bold mb-2 text-center">Nuestra Misión</h2>
      <p class="text-gray-700 text-center">Nuestra misión es proporcionarte un sistema CRM confiable y fácil de usar que te permita gestionar y optimizar tus relaciones con los clientes. Queremos ayudarte a impulsar el crecimiento de tu negocio y brindarte las herramientas necesarias para alcanzar el éxito.</p>
    </div>
    <div class="max-w-md md:ml-4">
      <h2 class="text-2xl font-bold mb-2 text-center">Nuestro Equipo</h2>
      <p class="text-gray-700 text-center">Detrás de nuestro CRM hay un equipo dedicado y apasionado que se esfuerza por ofrecerte la mejor experiencia posible. Estamos comprometidos en brindarte un excelente soporte y en seguir mejorando nuestro producto para satisfacer tus necesidades.</p>
    </div>
  </div>

  <div class="max-w-2xl mx-auto">
    <h2 class="text-2xl font-bold mb-2 text-center">Valor Agregado</h2>
    <p class="text-gray-700 text-center">Además de nuestra misión y nuestro equipo, nuestro CRM ofrece características avanzadas como seguimiento de ventas, automatización de marketing y análisis de datos. Queremos que tu experiencia con nuestro CRM sea completa y efectiva para potenciar tu negocio.</p>
  </div>
</div>
{% endblock %}
