{% extends "core/base.html" %}

{% block title %}LA CRM{% endblock %}

{% block content %}
<div class="py-8 px-5 rounded-lg shadow-lg text-center">
  <img src="https://img.freepik.com/vector-gratis/ilustracion-crm-diseno-plano-dibujado-mano_23-2149367252.jpg" alt="Ilustración" class="mb-4 mt-4 rounded-md h-45 mx-auto">
  <div>
    <h2 class="text-xl font-bold text-black mb-2">¡Únete a nosotros y transforma tu gestión empresarial!</h2>
    <p class="text-lg text-gray-600 mb-4 ">
      Descubre cómo nuestra CRM puede impulsar el crecimiento de tu negocio. ¡Regístrate ahora y comienza a
      disfrutar de las ventajas de una gestión eficiente y centrada en el cliente!
    </p>
    <a href="{% url 'userprofile:signup' %}" class="mt-4 mb-4 inline-block bg-blue-500 text-white font-bold py-2 px-4 rounded">Invita a tu circulo a Incorporarse</a>
  </div>
</div>
{% endblock %}
