root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
# editorconfig-tools is unable to ignore longs strings or urls
max_line_length = off

[CHANGELOG.md]
indent_size = false

# Configuración básica para archivos Python
[*.py]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Configuración específica para archivos de Django
[**.html]
indent_style = space
indent_size = 4

[*.css]
indent_style = space
indent_size = 2

[*.scss]
indent_style = space
indent_size = 2

# Excluir carpetas o archivos específicos, como la carpeta virtualenv
[**/__pycache__]
[**.vscode]
[**.git]
[**.idea]
[**venv]
[**migrations]

# Configuración específica para archivos de base de datos Django (migrations)
[**/migrations/*.py]
indent_style = space
indent_size = 4


